@import url('https://fonts.googleapis.com/css?family=Girassol|Permanent+Marker|Gloria+Hallelujah&display=swap');

#container {
    display: grid;
    height: auto;
    grid-template-columns: .5fr max-content .5fr;
    grid-template-rows: .5fr 3fr .5fr;
    background: repeating-radial-gradient(circle, lightyellow, white 10%, #ADD8E6 15%)
}
#title {
    font-family: 'Permanent Marker', cursive;
    
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-size: 25px;
    color: red;
    text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 
                rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 
                rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 
                rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 
                rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 
                rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 
                rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 
                rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 
                rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 
                rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 
                rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px 
                rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 3;
    justify-self: center;
}
#displayArea {
    align-self: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Girassol', cursive;
}
#displayArea img {
    box-shadow: 0px 8px 10px black;
}
#displayArea a {
    margin-top: 4px;
    
    background-color:  red;
    border-radius: 45px;
    padding: .6em 1em;
    box-shadow: 0px 8px 10px black;
    position: relative;
    
    font-size: 18px;
    color: white;
}
#displayArea a:hover {
    background-color: rgb(240, 113, 96);
}
#buttonArea {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
}
button {
    
    font-size: 25px;
    font-family: 'Girassol', cursive;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    width: 10em;
    height: 2em;
    background-color: blue;
    color: white;
    
}
button:hover {
    background-color: cornflowerblue;
    border: none;

    box-shadow: 0px 15px 20px blue;
  transform: translateY(-7px);
}
button:focus {
    border: none;
}
button::-moz-focus-inner { border: 0; }